<html lang="en">
<head>
  <title>The App - {{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main class="main">
  {{>header}}
  <div class="content">
    <h1>{{title}}</h1>
<!--    <img src="img/robot.png" height="391" width="360" alt="Robot"/>-->
    <p>
      This is the about page of the app. Created by {{name}}
    </p>
  </div>
  {{>footer}}
</main>

</body>
</html>
